@import "config";
@import "buttons";

* {
  font-family: "Montserrat", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  body {
    cursor: default;
    nav {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 3;

      .nav-container {
        display: flex;
        width: 100%;
        text-align: center;

        .subcontainer1 {
          display: flex;
          width: 100%;

          .middle {
            width: 100%;
            justify-content: space-around;
            display: flex;
            align-items: center;

            .button {
              color: $primary_t1;
            }

            .logo-navbar {
              text-decoration: none;

              img {
                width: 90px;
              }
            }
          }
        }

        .subcontainer2 {
          text-align: center;
          width: 100%;

          .middle {
            display: flex;
            align-items: center;
            justify-content: center;

            .social {
              margin: 1.5rem;

              img {
                width: 30px;
              }
            }

            a {
              text-decoration: none;

              .logo {
                width: 0;
                visibility: hidden;
              }
            }
          }

          .dropdown {
            display: flex;
            justify-content: end;
            width: 0;
            visibility: hidden;

            .dropdown-toggle {
              text-decoration: none;
              color: $lighter_t1;

              .more {
                width: 25px;
                height: 25px;
              }
            }

            .dropdown-menu {
              border: 3px solid $darker_t1;
              background-color: $primary_t1;

              .dropdown-item {
                color: $darker_t1;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }

        .subcontainer3 {
          display: flex;
          width: 100%;

          .middle {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-around;
          }
        }
      }

      .active,
      .special {
        border: 1px solid $primary_t2;
        border-radius: 15px;
      }
    }

    main {
      z-index: 2;
      position: relative;
      background-image: url("../img/bg.png");
      background-size: cover;
      height: 100vh;
      overflow: hidden;
      display: flex;
      width: 100%;
      background-color: $lighter_t1;
      

      .left {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;

        .description {
          display: flex;
          flex-direction: column;
          margin-top: 3rem;
          padding-left: 4rem;
          padding-right: 3rem;

          h1 {
            font-weight: bold;
            padding: 1rem;
          }

          p {
            padding: 0.5rem;
            font-size: 1.7rem;

            span {
              font-weight: bold;
            }
          }

          div {
            display: flex;
            align-items: center;
            border-bottom: 4px solid $darker_t3;
            border-radius: 3px;

            a {
              text-decoration: none;
              width: fit-content;
              border: 2px solid $darker_t1;
              color: $darker_t1;
              font-weight: bold;
              margin-bottom: 1rem;
              margin-right: 3rem;
            }
          }
        }
      }

      .right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        .image-bg {
          z-index: 0;
          border-radius: 40px;
          position: relative;
          height: 35%;
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
          background-color: $darker_t1;
          width: 75%;
          margin-top: 15vh;

          img {
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
          }
        }
      }

      .about {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .subcontainer1 {
          display: flex;
          flex-direction: column;
          padding: 0.5rem;

          .about_me {
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
            display: flex;
            flex-direction: column;
            background-color: $darker_t1;
            padding: 3rem;
            border-radius: 30px;
            margin: auto 1rem 1rem;

            .title {
              color: $primary_t1;
              font-weight: bold;
              border-bottom: 3px solid $primary_t1;
              width: fit-content;
            }

            p {
              color: $lighter_t1;
              font-size: 1.25rem;
              padding-top: 0.5rem;

              span {
                font-weight: bold;
                font-size: 1.25rem;
              }
            }
          }

          .download {
            display: flex;
            justify-content: end;

            .description {
              box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
              background-color: $darker_t1;
              border-radius: 30px;
              padding: 3rem;
              margin-top: 1rem;
              height: fit-content;
              width: 351px;

              h2 {
                text-align: center;
                margin: 0;
                font-weight: bold;

                .button {
                  color: $primary_t1;
                  width: fit-content;
                  text-decoration: none;
                }
              }
            }
          }
        }

        .subcontainer2 {
          display: flex;
          flex-direction: column;

          .description {
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
            display: flex;
            flex-direction: column;
            background-color: $darker_t1;
            padding: 3rem;
            border-radius: 30px;
            margin: auto 1rem;
            width: 630px;

            .title {
              color: $primary_t1;
              font-weight: bold;
              border-bottom: 3px solid $primary_t1;
              width: fit-content;
            }

            p {
              color: $lighter_t1;
              font-size: 1.25rem;
              padding-top: 0.5rem;

              span {
                font-weight: bold;
                font-size: 1.5rem;
              }
            }
          }

          .skill {
            display: flex;
            margin-left: 1.5rem;

            .description {
              box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
              display: flex;
              flex-direction: column;
              background-color: $darker_t1;
              padding: 3rem;
              border-radius: 30px;
              margin: 1rem;

              .title {
                color: $primary_t1;
                font-weight: bold;
                border-bottom: 3px solid $primary_t1;
                text-align: center;
                width: fit-content;
              }

              .container {
                display: flex;
                align-items: center;
                text-align: center;
                justify-content: space-between;

                h4 {
                  color: $lighter_t1;
                  margin: 0;
                  padding-top: 0.5rem;
                  padding-bottom: 0.5rem;
                }

                img {
                  padding-bottom: 0.5rem;
                  width: 20px;
                }
              }
            }
          }
        }
      }

      .port {
        display: flex;
        align-items: center;
        justify-content: space-around;

        .description {
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
          background-color: $darker_t1;
          padding: 3rem;
          border-radius: 30px;
          height: 450px;
          width: fit-content;

          .thumbnail {
            text-decoration: none;

            .caption {
              width: 500px;
              height: 250px;
              border-radius: 5px;
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
          }

          .button_2 {
            text-decoration: none;
            display: flex;
            justify-content: center;
            margin-top: 3rem;
            align-items: center;

            h1 {
              color: $primary_t1;
            }

            .git {
              width: 30px;
              height: 30px;
              margin-left: 3rem;
            }
          }
        }
      }

      .contatti {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 1.5rem;

        .form-container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: $darker_t1;
          margin-top: 3rem;
          padding: 1.5rem;
          border-radius: 30px;
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
          width: 50%;

          .title-2 {
            font-weight: bold;
            color: $primary_t1;
            width: fit-content;
          }

          form {
            width: 100%;
            display: flex;
            flex-direction: column;

            label {
              padding: 0.25rem;
              margin-top: 1.5rem;
              color: $primary_t1;

              span {
                color: red;
              }
            }

            .button_3 {
              margin-bottom: 0.5rem;
              border-bottom: 2px solid white;
            }

            textarea {
              height: 200px;
              border: 2px solid white;
              border-radius: 5px;
            }

            .button_2 {
              text-decoration: none;
              color: $darker_t1;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $lighter_t1;
              margin-top: 1.5rem;
            }

            p {
              color: red;
              margin-top: 1rem;
            }
          }
        }
      }

      .navigator {
        .previous {
          position: absolute;
          background-color: $darker_t2;
          border-radius: 50%;
          align-items: center;
          display: flex;
          justify-content: center;
          left: 1%;
          bottom: 50%;
          height: 30px;

          .button_3 {
            text-decoration: none;
            color: $lighter_t1;
            font-weight: bold;
            font-size: 1.25rem;
          }
        }
        .next {
          z-index: 3;
          position: absolute;
          background-color: $darker_t2;
          border-radius: 50%;
          align-items: center;
          display: flex;
          justify-content: center;
          right: 1%;
          bottom: 50%;
          height: 30px;
          text-decoration: none;

          .button_3 {
            text-decoration: none;
            color: $lighter_t1;
            font-weight: bold;
            font-size: 1.25rem;
          }
        }
      }

      .drop {
        visibility: hidden;
      }
    }

    footer {
      width: 100%;
      z-index: 3;
      color: $primary_t1;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 92vh;

      section {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        border-radius: 30px;
        background-color: $darker_t1;

        p {
          margin: 0;
        }
      }
    }
  }

  // mobile Max-768px
  @media only screen and (max-width: 768px) {

    nav {
      background-color: #274c77;
      display: inline-block !important;
      z-index: 10000 !important;

      .nav-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;

        .left,
        .right {
          display: none !important;
        }

        .center {
          margin: 0px !important;
          display: flex;
          justify-content: space-between !important;

          .middle {
            margin: 0 1.5rem;
            display: flex;
            align-items: center;
            width: 100%;

            .dropdown {
              width: 100% !important;
              visibility: visible !important;

              .dropdown-content {
                display: none;
                position: absolute;
                background-color: $primary_t1;
                min-height: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;

                a {
                  color: black;
                  padding: 12px 16px;
                  text-decoration: none;
                  display: block;

                  &:hover {
                    background-color: #f1f1f1;
                  }
                }

                .dropdown-content:hover .dropdown-content {
                  display: block;
                }
              }

              ul {
                margin: 0 !important;
                padding: 0 !important;
              }
            }

            .social {
              display: none;
            }

            .logo {
              visibility: visible !important;
              width: 90px !important;
            }
          }
        }
      }
    }

    main {
      margin-top: 90px;
      display: flex !important;
      flex-direction: column !important;
      height: fit-content !important;

      // HOME
      .left,
      .right {
        width: 100% !important;
      }

      .left {
        .description {
          padding-left: 2.2rem !important;
          padding-right: 2.2rem !important;
          h1 {
            font-size: 30px;
          }

          p {
            font-size: 20px !important;
          }

          div {
            justify-content: space-between !important;
            .button {
              margin-right: 0px !important;
            }
          }
        }
      }

      .right {
        .image-bg {

          width: 60vh !important;
          height: 40vh !important;
          margin-top: 20vh !important;
          margin-bottom: 5vh;

          img {
            width: 96% !important;
          }
        }
      }

      // ABOUT

      .about {
        flex-direction: column !important;
        height: fit-content !important;

        .subcontainer1 {
          .about_me {
            padding: 1.4rem !important;
            margin-left: 1.4rem !important;
            margin-right: 1.4rem !important;
          }

          .download {
            justify-content: center !important;

            .description {
              padding: 1.4rem !important;
              margin-left: 1.4rem !important;
              margin-right: 1.4rem !important;
              width: fit-content !important;
            }
          }
        }

        .subcontainer2 {
          .description {
            width: auto !important;
            margin-left: 1.4rem !important;
            margin-right: 1.4rem !important;
            padding: 1.4rem !important;
            margin-top: 2rem !important;
          }

          .skill {
            margin: auto !important;

            .container {
              div {
                margin-left: 0.7rem !important;
              }
            }
          }
        }
      }

      // GALLERIA

      .port {
        flex-direction: column !important;
        margin-top: 1.5rem !important;
        margin-left: auto !important;
        margin-right: auto !important;

        .description {
          align-items: center !important;
          display: flex;
          height: fit-content !important;
          text-align: center !important;
          flex-direction: column !important;
          margin-bottom: 2rem;
          width: 43vh !important;


          a {
            display: flex;
            text-align: center;
            width: fit-content !important;
            margin: 0 !important;

            .caption {
              width: 35vh !important;
              height: 20vh !important;
              margin-bottom: 1.5rem !important;
            }
          }
        }

      }

      // CONTATTI

      .contatti {
        padding-bottom: 2rem;
        margin-top: auto !important;
        .form-container {
          width: 90% !important;
          margin-top: 2rem !important;
        }
      }
    }

    .navigator {

      .previous,
      .next {

        bottom: 0.5% !important;
      }
    }

    footer {
      position: relative !important;
      height: fit-content !important;
      top: 0 !important;
      display: block !important;

      section {
        border-radius: 0px !important;
      }
    }
  }

  // mobile 769-1279 px

  @media only screen and (min-width: 769px) and (max-width: 1279px),
  screen and (min-height: 700px) and (max-height: 850px){

    nav {
      background-color: #274c77;
      display: inline-block !important;
      z-index: 10000 !important;
    }
    
    main {
      margin-top: 90px;
      display: flex !important;
      height: fit-content !important;


      // HOME
      .left,
      .right {
        width: 100% !important;
        height: 100vh !important;
        padding-bottom: 5% !important;
      }

      .left {
        .description {
          padding-left: 2.2rem !important;
          padding-right: 2.2rem !important;
          h1 {
            font-size: 30px;
          }

          p {
            font-size: 20px !important;
          }

          div {
            justify-content: space-between !important;
            .button {
              margin-right: 0px !important;
            }
          }
        }
      }

      .right {
        .image-bg {
          width:40vh !important;
          height: 20vh !important;
          margin-bottom: 10rem !important;

        }
      }

      // ABOUT

      .about {
        flex-direction: column !important;
        padding-top: 2.5rem;

        .subcontainer1 {
          .about_me {
            padding: 1.4rem !important;
            margin-left: 1.4rem !important;
            margin-right: 1.4rem !important;
          }

          .download {
            justify-content: center !important;

            .description {
              padding: 1.4rem !important;
              margin-left: 1.4rem !important;
              margin-right: 1.4rem !important;
              width: fit-content !important;
            }
          }
        }

        .subcontainer2 {
          .description {
            width: auto !important;
            margin-left: 1.4rem !important;
            margin-right: 1.4rem !important;
            padding: 1.4rem !important;
            margin-top: 2rem !important;
          }

          .skill {
            margin: auto !important;

            .container {
              div {
                margin-left: 0.7rem !important;
              }
            }
          }
        }
      }

      // GALLERIA

      .port {
        flex-direction: column !important;
        margin-top: 2.5rem !important;
        height: fit-content !important;
        margin-left: auto !important;
        margin-right: auto !important;

        .description {
          align-items: center !important;
          display: flex;
          height: fit-content !important;
          text-align: center !important;
          flex-direction: column !important;
          margin-bottom: 2rem;
          width: 60vh !important;


          a {
            display: flex;
            text-align: center;
            margin: 0 !important;
            width: fit-content !important;

            .caption {
              width: 50vh !important;
              height: 25vh !important;
              margin-bottom: 1.5rem !important;
            }
          }
        }

      }

      // CONTATTI

      .contatti {
        padding-bottom: 2rem;
        margin-top: auto !important;
        .form-container {
          width: 90% !important;
          margin-top: 2rem !important;
        }
      }
    }

    footer {
      position: relative !important;
      height: fit-content !important;
      top: 0 !important;
      display: block !important;

      section {
        border-radius: 0px !important;
      }
    }

  }
}
