@import "config";



* {
  font-family: 'Montserrat', Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  .middle {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .button {

    border: 1px solid transparent;
    padding: 10px;
    border-radius: 15px;

    &:focus {
      border: 1px solid $primary_t2;
    }
  }
}

nav {

  .active,
  .special {
    color: $primary_t1;
    border: 1px solid $primary_t2;
    border-radius: 15px;
  }

}