.description {
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
}

.middle {
  justify-content: center;
  align-items: center;
  display: flex;
}

.title {
  transition: margin-left 0.3s;
}
.title:hover {
  margin-left: 7px;
}

.title-2 {
  transition: color 0.3s;
}
.title-2:hover {
  color: #3895e0 !important;
}

/*------------------------------------
- COLOR primary
------------------------------------*/
.alert-primary {
  color: #3895e0;
  background-color: #065fa7;
  border-color: #3699ea;
}

.alert-primary hr {
  border-top-color: #5caaeb;
}

.alert-primary .alert-link {
  color: #1e7cc8;
}

.badge-primary {
  color: #212529;
  background-color: #A3CEF1;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: #212529;
  background-color: #90bfe6;
}

.bg-primary {
  background-color: #A3CEF1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #90bfe6 !important;
}

.border-primary {
  border-color: #A3CEF1 !important;
}

.btn-primary {
  color: #212529;
  background-color: #A3CEF1;
  border-color: #A3CEF1;
}

.btn-primary:hover {
  color: #212529;
  background-color: rgba(142, 173, 197, 0.85);
  border-color: #90bfe6;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(163, 206, 241, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #212529;
  background-color: #A3CEF1;
  border-color: #A3CEF1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #212529;
  background-color: #90bfe6;
  border-color: #69afe8;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(163, 206, 241, 0.5);
}

.btn-outline-primary {
  color: #A3CEF1;
  background-color: transparent;
  border-color: #A3CEF1;
}

.btn-outline-primary:hover {
  color: #212529;
  background-color: #A3CEF1;
  border-color: #A3CEF1;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(163, 206, 241, 0.5);
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: #A3CEF1;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: #212529;
  background-color: #A3CEF1;
  border-color: #A3CEF1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(163, 206, 241, 0.5);
}

.list-group-item-primary {
  color: #3895e0;
  background-color: #3699ea;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: #3895e0;
  background-color: #5caaeb;
}

.list-group-item-primary.list-group-item-action.active {
  color: #212529;
  background-color: #3895e0;
  border-color: #3895e0;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #3699ea;
}

.table-hover .table-primary:hover {
  background-color: #5caaeb;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: #5caaeb;
}

.text-primary, a.text-primary:focus {
  color: #A3CEF1 !important;
}

a.text-primary:hover {
  color: #69afe8 !important;
  border-color: #69afe8 !important;
}

/*------------------------------------
- COLOR lighter
------------------------------------*/
.alert-lighter {
  color: #9db1be;
  background-color: #546874;
  border-color: #7d909b;
}

.alert-lighter hr {
  border-top-color: #afb7bc;
}

.alert-lighter .alert-link {
  color: #7e99a9;
}

.badge-lighter {
  color: #212529;
  background-color: #E7ECEF;
}

.badge-lighter[href]:hover, .badge-lighter[href]:focus {
  color: #212529;
  background-color: #c8d3da;
}

.bg-lighter {
  background-color: #E7ECEF !important;
}

a.bg-lighter:hover, a.bg-lighter:focus,
button.bg-lighter:hover,
button.bg-lighter:focus {
  background-color: #c8d3da !important;
}

.border-lighter {
  border-color: #E7ECEF !important;
}

.btn-lighter {
  color: #212529;
  background-color: #E7ECEF;
  border-color: #E7ECEF;
}

.btn-lighter:hover {
  color: #212529;
  background-color: #d1dbe0;
  border-color: #c8d3da;
}

.btn-lighter:focus, .btn-lighter.focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 236, 239, 0.5);
}

.btn-lighter.disabled, .btn-lighter:disabled {
  color: #212529;
  background-color: #E7ECEF;
  border-color: #E7ECEF;
}

.btn-lighter:not(:disabled):not(.disabled):active, .btn-lighter:not(:disabled):not(.disabled).active, .show > .btn-lighter.dropdown-toggle {
  color: #212529;
  background-color: #c8d3da;
  border-color: #bfccd4;
}

.btn-lighter:not(:disabled):not(.disabled):active:focus, .btn-lighter:not(:disabled):not(.disabled).active:focus, .show > .btn-lighter.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 236, 239, 0.5);
}

.btn-outline-lighter {
  color: #E7ECEF;
  background-color: transparent;
  border-color: #E7ECEF;
}

.btn-outline-lighter:hover {
  color: #212529;
  background-color: #E7ECEF;
  border-color: #E7ECEF;
}

.btn-outline-lighter:focus, .btn-outline-lighter.focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 236, 239, 0.5);
}

.btn-outline-lighter.disabled, .btn-outline-lighter:disabled {
  color: #E7ECEF;
  background-color: transparent;
}

.btn-outline-lighter:not(:disabled):not(.disabled):active, .btn-outline-lighter:not(:disabled):not(.disabled).active, .show > .btn-outline-lighter.dropdown-toggle {
  color: #212529;
  background-color: #E7ECEF;
  border-color: #E7ECEF;
}

.btn-outline-lighter:not(:disabled):not(.disabled):active:focus, .btn-outline-lighter:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-lighter.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 236, 239, 0.5);
}

.list-group-item-lighter {
  color: #9db1be;
  background-color: #7d909b;
}

.list-group-item-lighter.list-group-item-action:hover, .list-group-item-lighter.list-group-item-action:focus {
  color: #9db1be;
  background-color: #afb7bc;
}

.list-group-item-lighter.list-group-item-action.active {
  color: #212529;
  background-color: #9db1be;
  border-color: #9db1be;
}

.table-lighter,
.table-lighter > th,
.table-lighter > td {
  background-color: #7d909b;
}

.table-hover .table-lighter:hover {
  background-color: #afb7bc;
}

.table-hover .table-lighter:hover > td,
.table-hover .table-lighter:hover > th {
  background-color: #afb7bc;
}

.text-lighter {
  color: #E7ECEF !important;
}

a.text-lighter:hover, a.text-lighter:focus {
  color: #c8d3da !important;
}

/*------------------------------------
- COLOR darker
------------------------------------*/
.alert-darker {
  color: #08111a;
  background-color: #8fb2da;
  border-color: #80a7d5;
}

.alert-darker hr {
  border-top-color: #6c9acf;
}

.alert-darker .alert-link {
  color: #000000;
}

.badge-darker {
  color: #fff;
  background-color: #274c77;
}

.badge-darker[href]:hover, .badge-darker[href]:focus {
  color: #fff;
  background-color: #1a3350;
}

.bg-darker {
  background-color: #274c77 !important;
}

a.bg-darker:hover, a.bg-darker:focus,
button.bg-darker:hover,
button.bg-darker:focus {
  background-color: #1a3350 !important;
}

.border-darker {
  border-color: #6c9acf !important;
}

.btn-darker {
  color: #fff;
  background-color: #274c77;
  border-color: #274c77;
}

.btn-darker:hover {
  color: #fff;
  background-color: #1e3a5c;
  border-color: #1a3350;
}

.btn-darker:focus, .btn-darker.focus {
  box-shadow: 0 0 0 0.2rem rgba(39, 76, 119, 0.5);
}

.btn-darker.disabled, .btn-darker:disabled {
  color: #fff;
  background-color: #274c77;
  border-color: #274c77;
}

.btn-darker:not(:disabled):not(.disabled):active, .btn-darker:not(:disabled):not(.disabled).active, .show > .btn-darker.dropdown-toggle {
  color: #fff;
  background-color: #1a3350;
  border-color: #162c45;
}

.btn-darker:not(:disabled):not(.disabled):active:focus, .btn-darker:not(:disabled):not(.disabled).active:focus, .show > .btn-darker.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(39, 76, 119, 0.5);
}

.btn-outline-darker {
  color: #274c77;
  background-color: transparent;
  border-color: #274c77;
}

.btn-outline-darker:hover {
  color: #fff;
  background-color: #274c77;
  border-color: #274c77;
}

.btn-outline-darker:focus, .btn-outline-darker.focus {
  box-shadow: 0 0 0 0.2rem rgba(39, 76, 119, 0.5);
}

.btn-outline-darker.disabled, .btn-outline-darker:disabled {
  color: #274c77;
  background-color: transparent;
}

.btn-outline-darker:not(:disabled):not(.disabled):active, .btn-outline-darker:not(:disabled):not(.disabled).active, .show > .btn-outline-darker.dropdown-toggle {
  color: #fff;
  background-color: #274c77;
  border-color: #274c77;
}

.btn-outline-darker:not(:disabled):not(.disabled):active:focus, .btn-outline-darker:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-darker.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(39, 76, 119, 0.5);
}

.list-group-item-darker {
  color: #08111a;
  background-color: #80a7d5;
}

.list-group-item-darker.list-group-item-action:hover, .list-group-item-darker.list-group-item-action:focus {
  color: #08111a;
  background-color: #6c9acf;
}

.list-group-item-darker.list-group-item-action.active {
  color: #fff;
  background-color: #08111a;
  border-color: #08111a;
}

.table-darker,
.table-darker > th,
.table-darker > td {
  background-color: #80a7d5;
}

.table-hover .table-darker:hover {
  background-color: #6c9acf;
}

.table-hover .table-darker:hover > td,
.table-hover .table-darker:hover > th {
  background-color: #6c9acf;
}

.text-darker {
  color: #274c77 !important;
}

a.text-darker:hover, a.text-darker:focus {
  color: #1a3350 !important;
}

.button {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 0.3s;
}
.button:active {
  opacity: 0.5;
}
.button:focus {
  border: 1px solid #90bfe6;
}

.button_2 {
  border: 1px solid transparent;
  padding: 10px;
  border-radius: 15px;
  opacity: 1;
  transition: opacity 0.3s;
  background-color: transparent;
}
.button_2:hover {
  border: 1px solid #90bfe6;
}
.button_2:active {
  opacity: 0.5;
}

.button_3 {
  color: #f1f1f1;
  border: none;
  padding: 10px;
  opacity: 1;
  transition: opacity 0.3s;
  background-color: transparent;
}
.button_3::placeholder {
  color: #f1f1f1;
}
.button_3:focus {
  outline: none;
}

* {
  font-family: "Montserrat", Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
* body {
  cursor: default;
}
* body nav {
  position: fixed;
  top: 0;
  width: 100%;
}
* body nav .active,
* body nav .special {
  border: 1px solid #90bfe6;
  border-radius: 15px;
}
* body nav .dropdown,
* body nav .logo {
  visibility: hidden;
}
* body main {
  background-image: url("../img/bg.png");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  width: 100%;
  background-color: #E7ECEF;
  top: 0;
  bottom: 0;
}
* body main .image-bg {
  height: 320px;
  top: 43%;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.35);
}
* body main .drop {
  visibility: hidden;
}
@media (max-width: 329px) {
  * nav {
    background-color: #274c77;
    display: inline-block !important;
    z-index: 10000 !important;
  }
  * nav ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  * nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  * nav .left,
  * nav .right {
    display: none !important;
  }
  * nav .center {
    margin: 0px !important;
    display: flex;
    justify-content: space-between !important;
  }
  * nav div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  * nav .social {
    display: none;
  }
  * nav .logo {
    visibility: visible !important;
    width: 90px;
  }
  * nav .dropdown {
    width: 100% !important;
    visibility: visible !important;
  }
  * nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #A3CEF1;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  * nav .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  * nav .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  * nav .dropdown .dropdown-content .dropdown-content:hover .dropdown-content {
    display: block;
  }
  * main {
    margin-top: 90px;
    display: flex !important;
    flex-direction: column !important;
    height: 130vh !important;
  }
  * main .left,
  * main .right {
    width: 100% !important;
  }
  * main .right {
    margin-top: 5rem;
  }
  * main .image-bg {
    width: 280px !important;
    height: 150px !important;
    top: 25% !important;
  }
  * main img {
    width: 200px !important;
  }
  * main .form-container {
    width: 90% !important;
  }
  * main .about {
    display: none;
  }
  * main .drop {
    width: 100% !important;
    z-index: 0 !important;
    visibility: visible !important;
    margin-top: 1rem;
  }
  * main .drop .me {
    padding: 1.5rem !important;
  }
  * main .drop .dropdown,
  * main .drop .dropup {
    padding: 4rem;
  }
  * main .drop img {
    width: 10px !important;
  }
  * main .port {
    flex-direction: column !important;
    width: fit-content;
    height: 100%;
  }
  * main .port div {
    align-items: center !important;
    display: flex;
    height: fit-content !important;
    text-align: center !important;
    flex-direction: column !important;
  }
  * main .port div a {
    display: flex;
    text-align: center;
    margin: 0 !important;
    width: fit-content !important;
  }
  * main .port div a .git {
    display: none;
  }
  * main .port div a .caption {
    display: none !important;
  }
  * main .port .description {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    box-shadow: none !important;
  }
  * main .port .description .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  * main .port .description .info span {
    margin: 0 !important;
    width: fit-content !important;
    padding-top: 10px !important;
  }
  * main .slide {
    display: none !important;
  }
  * footer {
    top: 130vh !important;
  }
}
@media (min-width: 330px) and (max-width: 389px) {
  * nav {
    background-color: #274c77;
    display: inline-block !important;
    z-index: 10000 !important;
  }
  * nav ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  * nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  * nav .left,
  * nav .right {
    display: none !important;
  }
  * nav .center {
    margin: 0px !important;
    display: flex;
    justify-content: space-between !important;
  }
  * nav div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  * nav .social {
    display: none;
  }
  * nav .logo {
    visibility: visible !important;
    width: 90px;
  }
  * nav .dropdown {
    width: 100% !important;
    visibility: visible !important;
  }
  * nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #A3CEF1;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  * nav .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  * nav .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  * nav .dropdown .dropdown-content .dropdown-content:hover .dropdown-content {
    display: block;
  }
  * main {
    margin-top: 90px;
    display: flex !important;
    flex-direction: column !important;
    height: 130vh !important;
  }
  * main .left,
  * main .right {
    width: 100% !important;
  }
  * main .left {
    margin-top: 3rem;
  }
  * main .right {
    margin-top: 6rem;
  }
  * main .image-bg {
    width: 280px !important;
    height: 150px !important;
    top: 25% !important;
  }
  * main img {
    width: 200px !important;
  }
  * main .form-container {
    width: 90% !important;
  }
  * main .about {
    display: none;
  }
  * main .drop {
    width: 100% !important;
    z-index: 0 !important;
    visibility: visible !important;
    margin-top: 1rem;
  }
  * main .drop .me {
    padding: 1.5rem !important;
  }
  * main .drop .dropdown,
  * main .drop .dropup {
    padding: 4rem;
  }
  * main .drop img {
    width: 10px !important;
  }
  * main .port {
    flex-direction: column !important;
    width: fit-content;
    height: 100%;
  }
  * main .port div {
    align-items: center !important;
    display: flex;
    height: fit-content !important;
    text-align: center !important;
    flex-direction: column !important;
  }
  * main .port div a {
    display: flex;
    text-align: center;
    margin: 0 !important;
    width: fit-content !important;
  }
  * main .port div a .git {
    display: none;
  }
  * main .port div a .caption {
    display: none !important;
  }
  * main .port .description {
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    box-shadow: none !important;
  }
  * main .port .description .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  * main .port .description .info span {
    margin: 0 !important;
    width: fit-content !important;
    padding-top: 10px !important;
  }
  * main .slide {
    display: none !important;
  }
  * footer {
    top: 130vh !important;
  }
}
@media (min-width: 390px) and (max-width: 890px) {
  * nav {
    background-color: #274c77;
    display: inline-block !important;
    z-index: 10000 !important;
  }
  * nav ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  * nav .nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
  }
  * nav .left,
  * nav .right {
    display: none !important;
  }
  * nav .center {
    margin: 0px !important;
    display: flex;
    justify-content: space-between !important;
  }
  * nav div {
    display: flex;
    width: 100%;
    align-items: center;
  }
  * nav .social {
    display: none;
  }
  * nav .logo {
    visibility: visible !important;
    width: 90px;
  }
  * nav .dropdown {
    width: 100% !important;
    visibility: visible !important;
  }
  * nav .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #A3CEF1;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  * nav .dropdown .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  * nav .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  * nav .dropdown .dropdown-content .dropdown-content:hover .dropdown-content {
    display: block;
  }
  * main {
    margin-top: 90px;
    display: flex !important;
    flex-direction: column !important;
    height: 100vh !important;
  }
  * main .left,
  * main .right {
    width: 100% !important;
  }
  * main .left {
    margin-top: 3rem;
  }
  * main .right {
    margin-top: 6rem;
  }
  * main .image-bg {
    width: 280px !important;
    height: 150px !important;
    top: 40% !important;
  }
  * main img {
    width: 250px !important;
  }
  * main .form-container {
    width: 90% !important;
  }
  * main .about {
    display: none;
  }
  * main .drop {
    width: 100% !important;
    z-index: 0 !important;
    visibility: visible !important;
    margin-top: 1rem;
  }
  * main .drop .me {
    padding: 1.5rem !important;
  }
  * main .drop .dropdown,
  * main .drop .dropup {
    padding: 4rem;
  }
  * main .drop img {
    width: 10px !important;
  }
  * main .port {
    flex-direction: column !important;
  }
  * main .port div {
    align-items: center !important;
    display: flex;
    height: fit-content !important;
    margin-bottom: 10px;
    margin-top: 20px;
    width: 410px !important;
    text-align: center !important;
    flex-direction: column !important;
  }
  * main .port div a {
    display: flex;
    text-align: center;
    margin: 0 !important;
    margin-top: 15px !important;
    width: 100%;
  }
  * main .port div a .git {
    width: 20px !important;
    height: 20px !important;
  }
  * main .port div a .caption {
    width: 314px !important;
    height: 150px !important;
  }
  * main .port .description {
    box-shadow: none !important;
    padding: 20px 0 20px 0 !important;
  }
  * main .port .description .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  * main .port .description .info span {
    margin: 0 !important;
    width: fit-content !important;
    padding-top: 10px !important;
  }
  * main .slide {
    display: none !important;
  }
  * footer {
    top: 100% !important;
  }
}
@media (min-width: 891px) and (max-width: 1200px) {
  * nav {
    background-color: #274c77;
    display: inline-block !important;
    z-index: 10000 !important;
  }
  * main {
    height: 150vh !important;
    margin-top: 90px;
    padding-bottom: 90px !important;
  }
  * main .image-bg {
    width: 500px !important;
    top: 46.4% !important;
  }
  * main .port {
    margin-top: 100px;
  }
  * main .port div {
    padding: 2rem !important;
    margin: 0 20px 0 20px;
  }
  * main .port img {
    width: 400px !important;
  }
  * main .port a img {
    width: 30px !important;
  }
  * main .port a .caption {
    width: 370px !important;
  }
  * main .about {
    display: none;
  }
  * main .drop {
    margin-top: 100px !important;
    width: 100% !important;
    z-index: 0 !important;
    visibility: visible !important;
    margin-top: 1rem;
  }
  * main .drop .dropdown,
  * main .drop .dropup {
    padding: 4rem;
  }
  * main .drop img {
    width: 10px !important;
  }
  * main .drop .description {
    box-shadow: none;
  }
  * main .form-container {
    padding: 2rem !important;
    margin-top: 90px !important;
    margin-bottom: 10px !important;
    width: 90% !important;
  }
  * main .next,
  * main .previous {
    display: none;
  }
  * footer {
    top: 152vh !important;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  * nav {
    background-color: #274c77;
    display: inline-block !important;
    z-index: 10000 !important;
  }
  * main {
    height: 110vh !important;
    margin-top: 90px;
    padding-bottom: 90px !important;
  }
  * main .image-bg {
    width: 500px !important;
    top: 41.2% !important;
  }
  * main .port {
    margin-top: 100px;
  }
  * main .port div {
    padding: 2rem !important;
    margin: 0 20px 0 20px;
  }
  * main .port img {
    width: 400px !important;
  }
  * main .port a img {
    width: 30px !important;
  }
  * main .port a .caption {
    width: 450px !important;
  }
  * main .about {
    display: none;
  }
  * main .drop {
    margin-top: 100px !important;
    width: 100% !important;
    z-index: 0 !important;
    visibility: visible !important;
    margin-top: 1rem;
  }
  * main .drop .dropdown,
  * main .drop .dropup {
    padding: 4rem;
  }
  * main .drop img {
    width: 10px !important;
  }
  * main .drop .description {
    box-shadow: none;
  }
  * main .form-container {
    padding: 2rem !important;
    margin-top: 90px !important;
    margin-bottom: 10px !important;
    width: 90% !important;
  }
  * main .next,
  * main .previous {
    display: none;
  }
  * footer {
    top: 112vh !important;
  }
}/*# sourceMappingURL=style.css.map */